# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
combined.log
error.log

# Directorio de uploads
uploads/*
!uploads/.gitkeep

# Directorios de desarrollo
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
tmp/
temp/

SenaUnity